* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;
    letter-spacing: 1px;
}

body {
    background-color: rgb(30 41 59);
    height: 100%;
    /* display: flex; */
    align-items: center;
    margin: 100%
}

.container {
    width: 100dvw;
    height: 6rem;
    margin: 20px;
    padding: 20px;
    /* display: flex; */
    box-sizing: border-box;
    flex-direction: row;
    margin-right: auto;
}
.search-container{
    display: flex;
    justify-content: center;

}
.bg-white {
    background-color: rgb(255 255 255);
    width: 320px;
    height: 40px;
    margin: 8px;
    padding: 4px;
}

.bg-lime-500 {
    background-color: rgb(132 204 22);
    background-origin: border-box;
    text-decoration-color: #fff;
    border-radius: 0.25rem;
    margin: 8px;
    padding: 4px;
}

.display {
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    margin-right: -20px;
    margin-left: auto;
    padding: 20px;
    justify-content: center;
}
 .display img:hover{
    border: 5px solid #fff;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
    
} 